.body {
  margin: 0;
  padding: 0;
}
@keyframes scrollText {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scroll_text span {
  display: inline-block;
  animation: scrollText 10s linear infinite ;
  animation-play-state: running; 
}
.scroll_text:hover span {
  animation-play-state: paused; 
}
.pay-premium-button:hover {
  background-color: #FCDC56 !important; /* Add !important to override Bootstrap styles */
  border-color: transparent !important; /* Add !important to override Bootstrap styles */
}
.login-button:hover {
  background-color: #FCDC56 !important; /* Add !important to override Bootstrap styles */
  border-color: transparent !important; /* Add !important to override Bootstrap styles */
}
.control-dots{
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
  height: 20px;
  top: 90%;
}
